<!-- <div class="login">
  <div class="login-triangle"></div>

  <h2 class="login-header">Log in</h2>

  <p>
    <input
      [(ngModel)]="user.usuario"
      type="text"
      class="form-control"
      placeholder="Usuario"
    />
  </p>
  <p>
    <input
      [(ngModel)]="user.pass"
      type="password"
      class="form-control"
      placeholder="Contraseña"
    />
  </p>
  <p><input type="submit" value="Ingresar" (click)="login()" /></p>
</div>

<div class="login" *ngIf="!isLogged">
  <div
    class="card text-white bg-Light mb-3"
    style="max-width: 16rem align=center"
  >
    <button
      type="submit"
      (click)="signInWithGoogle()"
      class="btn btn-outline-danger bt-lg btn-block"
    >
      <i class="fa-brands fa-google"></i> Iniciar sesión con Google
    </button>
    <button
      type="submit"
      (click)="signInWithFB()"
      class="btn btn-outline-primary bt-lg btn-block"
    >
      <i class="fa-brands fa-facebook"></i> Iniciar sesión con Facebook
    </button>
    <button type="submit" class="btn btn-outline-dark bt-lg btn-block">
      <i class="fa-brands fa-github"></i> Iniciar sesión con GitHub
    </button>
  </div>
</div> -->

<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img
      id="profile-img"
      class="profile-img-card"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
    />
    <p id="profile-name" class="profile-name-card"></p>
    <span id="reauth-email" class="reauth-email"></span>

    <p>
      <input
        [(ngModel)]="user.usuario"
        type="text"
        class="form-control"
        placeholder="Usuario"
      />
    </p>
    <p>
      <input
        [(ngModel)]="user.pass"
        type="password"
        class="form-control"
        placeholder="Contraseña"
      />
    </p>

    <div id="remember" class="checkbox">
      <label> <input type="checkbox" value="remember-me" /> Recordarme </label>
    </div>
    <button
      class="btn btn-lg btn-success btn-block btn-signin"
      type="submit"
      (click)="login()"
    >
      Iniciar Sesión
    </button>
    <!-- /form -->

    <button type="submit" (click)="signInWithGoogle()" class="btn">
      <i class="fa-brands fa-google"></i> Iniciar sesión con Google
    </button>
    <button type="submit" (click)="signInWithFB()" class="btn">
      <i class="fa-brands fa-facebook"></i> Iniciar sesión con Facebook
    </button>
    <button type="submit" class="btn">
      <i class="fa-brands fa-github"></i> Iniciar sesión con GitHub
    </button>
  </div>

  <!-- /card-container -->
</div>
<!-- /container -->
