<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/empleado/index']"
        >Empleados</a
      >
      <a class="nav-item nav-link" [routerLink]="['/control/index']"
        >Historial de marcaje</a
      >
      <a class="nav-item nav-link" [routerLink]="['/departamento/index']"
        >Departamentos</a
      >
      <a
        class="nav-item nav-link"
        data-toggle="dropdown"
        [routerLink]="['/tipousuario/index']"
        >Tipos de usuario</a
      >
      <a class="nav-item nav-link" [routerLink]="['/usuario/create']"
        >Registrar usuario</a
      >
      <a class="nav-item nav-link" [routerLink]="['/reportes/get']">Reportes</a>
    </div>
  </div>
  <button
    (click)="logout()"
    class="btn btn-outline-success"
    style="float: right"
  >
    Logout
  </button>
</nav>
<br /><br />
<div id="heading" class="container" style="width: 570px; height: 40px">
  <div>
    <strong id="heading">Nombre:</strong>
    <p id="heading">{{ departamento.nombre_depto }}</p>
  </div>

  <div>
    <strong id="heading">Apellido:</strong>
    <p id="heading">{{ departamento.desc }}</p>
  </div>
</div>
