<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/empleado/index']"
        >Empleados</a
      >
      <a class="nav-item nav-link" [routerLink]="['/control/index']"
        >Historial de marcaje</a
      >
      <a class="nav-item nav-link" [routerLink]="['/departamento/index']"
        >Departamentos</a
      >
      <a
        class="nav-item nav-link"
        data-toggle="dropdown"
        [routerLink]="['/tipousuario/index']"
        >Tipos de usuario</a
      >
    </div>
  </div>
  <button
    (click)="logout()"
    class="btn btn-outline-success"
    style="float: right"
  >
    Logout
  </button>
</nav>
<br /><br />
<div class="container">
  <div class="container">
    <a href="#" routerLink="/departamento/create/" class="btn btn-success"
      >Crear nuevo departamento <i class="fa-solid fa-circle-plus"></i></a
    ><br /><br />

    <table class="table table-dark table-sm">
      <tr>
        <th>ID</th>
        <th>Departamento</th>
        <th>Descripcion</th>

        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let departamento of departamentos">
        <td>{{ departamento.id }}</td>
        <td>{{ departamento.nombre_depto }}</td>
        <td>{{ departamento.desc }}</td>

        <td>
          <div
            class="btn-group"
            role="group"
            aria-label="Basic outlined example"
          >
            <button
              [routerLink]="['/departamento/', departamento.id, 'view']"
              class="btn btn-success"
            >
              <i class="fa-solid fa-eye"></i>
            </button>

            <button
              [routerLink]="['/departamento/', departamento.id, 'edit']"
              class="btn btn-success"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>

            <button
              type="button"
              (click)="deleteDepartamento(departamento.id)"
              class="btn btn-success"
            >
              <i class="fa-solid fa-delete-left"></i>
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
