<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/empleado/index']"
        >Empleados</a
      >
      <a class="nav-item nav-link" [routerLink]="['/control/index']"
        >Historial de marcaje</a
      >
      <a class="nav-item nav-link" [routerLink]="['/control/create']">Marcar</a>
      <a class="nav-item nav-link" [routerLink]="['/departamento/index']"
        >Departamentos</a
      >
      <a class="nav-item nav-link" [routerLink]="['/tipousuario/index']"
        >Tipos de usuario</a
      >
      <a class="nav-item nav-link" [routerLink]="['/usuario/index']"
        >Usuarios</a
      >
      <a class="nav-item nav-link" [routerLink]="['/usuario/index']"> </a>

      <button style="content: left" class="btn btn-primary">Logout</button>
    </div>
  </div>
</nav> -->
<router-outlet></router-outlet>

<!-- <app-login></app-login> -->
